*{
    margin: 0;
    padding: -0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
header{
    background: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 450px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    margin: 0 auto;
}
nav .getApp a{
    text-decoration: none;
  color: white;
    font-weight: 500;
    font-size: 16px;
}
  nav .item ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav .item ul li a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-size: 20px;
    font-weight: lighter;
}
.content{
    color: white;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.content img{
    width: 300px;
    height: 60px;
}
.content h1{
    font-size: 35px;
    font-weight: 100;
    margin: 30px 0;
    letter-spacing: 2px;
}
.search{
    display: flex;
    align-items: center;
    background: white;
    height: 60px;
    width: 55%;
    border-radius: 8px;
}
.search .left_Side, .search .Right_Side{
    display: inline-flex;
    padding: 0 16px;
} 
.search .left_Side {
    width: 30%;
    border-right: 2px solid rgb(191, 155, 155);
}
.search .Right_Side {
    width: 70%
}
.search input{
    border: 0;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: gray;
    margin-left: 6px;
}
.search .left_Side i{
    color: rgb(223, 64, 64);
    font-size: 20px;
}
.search .Right_Side i{
    color: grey;

}
/* hearder finish */
.order-sections{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.order-sections .order{
    display: flex;
    /* align-items: center;
    justify-content: center; */
width: 100%;
margin-top: 4%;
margin-bottom: 40px;
}
.order .card{
    width: 30%;
    margin: 12px;
    border-radius: 8px;
    border: 1px solid rgb(210, 200, 200);
    transition: transform 0.5s;
    position: relative;
}
.order .card a img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    

}
.order .card:hover{
    transform: scale(1.1);
}
 .card .cantent-card{
    text-align: left;
    width: 100%;
    padding: 0 12px;
    position: absolute;
    bottom: 0;
    background: white;
}
