.border-black{
    border: 4px solid black;
    opacity: 0.5;

}
.bg-image{
    width: 100%;
    height: 800px;
    border: 3px;
    color: blue;
    text-align: center;
    background: url(../image/images.jpeg);
    background-repeat: no-repeat;
    font-size: x-large;
}
.bg-12{
    border: 9px solid black;
    height: 240px;
    width: 240px;
    border-radius: 140px;
}
.border-1 {
    border:  4px solid black;
}
.border-dotted{
    border: 4px dotted blue;
}
.border-dashed{
    border: 4px dashed  purple;

}
.border-double{
    border: 4px double aqua;

}
.border-groove{
    border: 4px groove orange;
}
.border-ridge{
    border: 4px ridge red;

}
.border-insert{
    border: 4px insert gray;
}
.border-outset{
    border: 4px outset green;
}